[submodule "themes/quint"]
	path = themes/quint
	url = https://github.com/victoriadrake/hugo-theme-quint.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
