{{ define "main" }}
<article class="post h-entry">
    <header class="post-header">
        <h1 class="p-name">{{ .Title }}</h1>
        <time class="dt-published" datetime="{{ .Date }}">
            <a class="u-url" href="{{ .Permalink }}">{{ .Date | time.Format ":date_medium" }}</a>
        </time>
        {{ with .Params.tags }}
        <p class="tag-container">
            {{ range . }}
            <a class="p-category tag" href="{{ "tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        </p>
        {{ end }}
    </header>
    <div class="post-content e-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
