{{ $current := eq .CurrentPage .Page }}
{{ $ancestor := .Page.IsAncestor .CurrentPage }}
{{ $hasChildren := gt (len (where .Page.Pages "Params.bookHidden" "ne" true)) 0 }}
{{ $id := replaceRE "[^a-zA-Z0-9]" "-" .Page.RelPermalink }}

<li>
  {{ if $hasChildren }}
    <input type="checkbox" id="nav-{{ $id }}" class="toggle" {{ if or $ancestor $current }}checked{{ end }} />
    <label for="nav-{{ $id }}" class="flex">
      <a href="{{ .Page.RelPermalink }}" class="{{ if $current }}active{{ end }}">
        {{ .Page.Title }}
      </a>
    </label>
    <ul>
      {{ range (where .Page.Pages "Params.bookHidden" "ne" true) }}
        {{ partial "book-nav-item.html" (dict "Page" . "CurrentPage" $.CurrentPage) }}
      {{ end }}
    </ul>
  {{ else }}
    <a href="{{ .Page.RelPermalink }}" class="{{ if $current }}active{{ end }}">
      {{ .Page.Title }}
    </a>
  {{ end }}
</li>
