<footer>
    <div class="social-media">
        {{ range .Site.Params.social }}
            <a href="{{ .url }}" aria-label="{{ .name }}"><img alt="{{ .name }}" src="{{ .icon }}"/></a>
        {{ end }}
    </div>
    <div class="footer-copy">
        <p>© {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </div>
    <nav class="footer-nav">
        <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/long-form/">Long form</a></li>
            <li><a href="/short-form/">Short form</a></li>
            <li><a href="/projects/">Projects</a></li>
        </ul>
    </nav>
    {{ partial "search-index.html" . }}
</footer>
