<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ or .Description .Site.Params.description | plainify | htmlUnescape }}">
<meta name="theme-color" content="#f3f6f1">

<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ or .Description .Site.Params.description | plainify | htmlUnescape }}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:type" content="website">

{{- $tabTitle := .Site.Params.tabTitle | default .Site.Title }}
<title>{{ if .IsHome }}{{ $tabTitle }}{{ else }}{{ .Title }} | {{ $tabTitle }}{{ end }}</title>
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="alternate icon" href="/favicon.png">
<link rel="canonical" href="{{ .Permalink }}">

{{- $css := resources.Get "css/garden.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

{{- with .OutputFormats.Get "rss" }}
<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{- end }}
